<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger!</title>
	<link rel="shortcut icon" href="../../public/assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../public/assets/img/favicon.ico" type="image/x-icon">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../public/assets/js/burgers.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
	<style>
		body {
			background-image: url(https://jooinn.com/images/wood-103.jpg);
			background-size: cover;
			background-attachment: fixed;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 20%;
		}

		h1,
		p {
			text-align: center;
		}
	</style>
</head>

<body>
	<img src="http://freeclipartstore.com/Hamburger%2008.gif" alt="burger">
	{{{ body }}}
</body>

</html>